header {
  background-color: #000;
}

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#menu {
  display: flex;
  list-style: none;
}

#separador {
  height: 16px;
  width: 1px;
  background-color: #fff;
}

#menu a {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 28px 17px;
  transition: 0.3s;
}

#menu a:hover {
  color: #1ed760;
}

#btn-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 10px;
  }
  #btn-mobile {
    display: block;
    background-color: transparent;
    border: none;
  }
  #menu {
    display: none;
  }
}
