#section-promotion {
  background-color: #1d75de;
  color: #fff;
  padding: 30px 0px 42px 0px;
}

#section-promotion h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

#section-promotion h2 {
  font-size: 1.5rem;
  font-weight: lighter;
}

#content-btn {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
}

.btn-promotion,
.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border-radius: 500px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn-promotion:hover,
.card-btn:hover {
  transform: scale(1.05);
}

#btn-start {
  background: #191414;
}

#btn-start:hover {
  background: #0b0909;
}

#btn-plans {
  border: 2px solid rgb(255, 255, 255);
}

#btn-plans:hover {
  background: #1a69c7;
}

#promotion-content p {
  font-size: 11px;
  color: #fff;
}

#promotion-content p a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 770px) {
  #section-promotion {
    padding: 16px;
  }
  #section-promotion h1 {
    font-size: 1.75rem;
  }
  #section-promotion h2 {
    font-size: 1.125rem;
  }
  #content-btn {
    flex-direction: column;
  }
}
