* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos Header */

header {
  background-color: #000;
}

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#menu {
  display: flex;
}

#separador {
  height: 16px;
  width: 1px;
  background-color: #fff;
}

#menu a {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 28px 17px;
  transition: 0.3s;
}

#menu a:hover {
  color: #1ed760;
}

@media (max-width: 990px) {
  .container {
    max-width: 740px;
  }
}

/* Estilização section-promotion */

#section-promotion {
  background-color: #1d75de;
  color: #fff;
  padding: 70px 0px 42px 0px;
}

#section-promotion h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

#section-promotion h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  padding-top: 30px;
}

#content-btn {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
}

.btn-promotion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border-radius: 500px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn-promotion:hover {
  transform: scale(1.05);
}

#btn-start {
  background: #191414;
}

#btn-start:hover {
  background: #0b0909;
}

#btn-plans {
  border: 2px solid rgb(255, 255, 255);
}

#btn-plans:hover {
  background: #1a69c7;
}

#promotion-content p {
  font-size: 11px;
  color: #fff;
}

#promotion-content p a {
  color: #fff;
  border-bottom: 1px solid #fff;
}
